@{
    ViewBag.Title = "Access Denied";
}
<div class="row" style="padding-top:150px;">
    <div class="col-lg-12">
        <h2>Access Denied!</h2>
    </div>

    <div class="col-lg-12">
        @Html.ActionLink("Login Page", "GotoLoginPage", "Account", new { @class = "btn btn-success" })
    </div>
</div>

